.login.login-with-news-feed,
.register.register-with-news-feed {
  min-height: 100vh;
  width: 100%;

  display: flex;

  & .news-feed {
    width: 50%;
    left: 0;
    right: $login-register-news-feed-container-width;
    top: 0;
    bottom: 0;
    // width: 50%;
    overflow: hidden;
    transform: translateZ(0);

    @include media-breakpoint-down(lg) {
      right: $login-register-news-feed-container-width-sm;

      @if $enable-rtl {
        right: 0;
        left: $login-register-news-feed-container-width-sm;
      }
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
    & .news-image {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      // background-image: url(../../../assets/Images/african-american-man.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    & .news-caption {
      color: rgba($white, 0.85);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: rem(60px) rem(60px) rem(45px);
      font-size: rem(18px);
      letter-spacing: rem(0.25px);
      z-index: 20;
      font-weight: 300;

      @include media-breakpoint-down(lg) {
        padding: rem(45px) rem(45px) rem(30px);
        font-size: rem(16px);
      }

      & .caption-title {
        font-weight: 300;
        color: $white;
        font-size: rem(36px);

        @include media-breakpoint-down(lg) {
          font-size: rem(28px);
        }
      }
      & .caption-text {
        font-weight: 900;
        color: $white;
        font-size: rem(32px);

        @include media-breakpoint-down(lg) {
          font-size: rem(16px);
        }
      }
    }
  }
  & .login-container,
  & .register-container {
    width: 50%;
    background: var(--app-component-bg);
    min-height: 100vh;

    @include media-breakpoint-down(lg) {
      // padding: rem(45px);
      // width: $login-register-news-feed-container-width-sm;
    }
    @include media-breakpoint-down(md) {
      width: 100%;
      // padding: rem(30px);
    }
  }
  & .no-margin {
    margin: 0;
  }
  & .revbill-logo {
    max-width: 30%;

    @include media-breakpoint-down(lg) {
      max-width: 30%;
    }
   
  }

  & .login-header,
  .register-header {
    position: relative;
    display: flex;
    flex-direction: column;
    // align-items: center;
    width: 90%;
    margin: 0 auto;
    // padding-left: rem(141px);
    justify-content: space-between;
    padding-top: rem(15px);
    padding-bottom: rem(5px);

    & .brand {
      padding: 0;
      font-size: rem(28px);
      color: var(--app-component-color);
      font-weight: 300;
      flex: 1;

      @include media-breakpoint-down(md) {
        font-size: rem(22px);
      }

      & .logo {
        border: 14px solid transparent;
        border-color: transparent rgba($black, 0.15) rgba($black, 0.3);
        background-color: var(--app-theme);
        width: rem(28px);
        height: rem(28px);
        font-size: 0;
        border-radius: $border-radius-lg;

        @if $enable-rtl {
          margin-left: rem(10px);
        } @else {
          margin-right: rem(10px);
        }
        @include media-breakpoint-down(md) {
          width: rem(24px);
          height: rem(24px);
          border-width: 12px;
        }
      }
      & small {
        font-size: rem(14px);
        display: block;
        color: rgba(var(--app-component-color-rgb), 0.5);
        font-weight: $font-weight-normal;

        @include media-breakpoint-down(md) {
          font-size: rem(13px);
        }
      }
    }

    & .icon {
      color: rgba(var(--app-component-color-rgb), 0.25);
      padding-top: rem(10px);
      @include media-breakpoint-down(lg) {
        max-width: 70%;
        padding-top: rem(0px);
      }

      & i {
        font-size: rem(36px);

        @include media-breakpoint-down(md) {
          font-size: rem(32px);
        }
      }
    }
  }
  & .login-title {
    padding-top: rem(20px);
    font-weight: 700;
    font-size: rem(32px);

    @include media-breakpoint-down(lg) {
      font-size: rem(18px);
    }
  }
  & .login-items,
  .register-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    margin-top: rem(40px);
    padding-top: rem(30px);
    @include media-breakpoint-down(lg) {
      width: 100%;
      margin-top: rem(40px);
      padding-top: rem(30px);
    }
  }
}

.login-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  & .login-cover-bg,
  & .login-cover-img {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  & .login-cover-bg {
    background: linear-gradient(
      to bottom,
      (rgba($black, 0.45) 0%, rgba($black, 0.9))
    );
  }
  & .login-cover-img {
    transition: background 0.2s ease;
  }
}
.login-bg-list {
  list-style-type: none;
  position: absolute;
  right: rem(20px);
  bottom: rem(20px);
  margin: 0;
  padding: 0 0 0 rem(20px);
  z-index: 1020;
  display: flex;
  flex-wrap: wrap;

  & .login-bg-list-item {
    width: rem(60px);
    height: rem(60px);
    margin: rem(5px);
    border-radius: 66px;

    @include media-breakpoint-down(md) {
      width: rem(46px);
      height: rem(46px);
    }
    & .login-bg-list-link {
      display: block;
      padding-top: 100%;
      overflow: hidden;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 66px;
      transition: all 0.2s ease;
    }
    &:hover,
    &:focus {
      & .login-bg-list-link {
        box-shadow: 0 0 0 4px rgba($white, 0.45);
      }
    }
    &.active {
      border-color: $white;
      z-index: 1020;
      position: relative;

      & .login-bg-list-link {
        box-shadow: 0 0 0 4px rgba($white, 0.9);
      }
    }
  }
}
