html {
  height: 100%;
}
body {
  height: 100%;
  letter-spacing: $body-letter-spacing;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;

  @if $enable-rtl {
    direction: rtl;
  }
}
b {
  font-weight: bold;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: 60%;
  font-weight: $font-weight-normal;
  color: rgba(var(--app-component-color-rgb), 0.65);
}
a {
  &:focus {
    outline: none;
  }
}
