@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700";
@import "https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css";
@import "https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #e8ecf4;
}
.landing {
  height: 100vh;
  /* background-image: url("/src/assets/images/phone2.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 76%; */
}
.headerr {
  height: 10vh;
}
.heroo {
  height: 90vh;
}

.image-section {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.App {
  font-family: Inter;
  text-align: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 6%;
  border: 2px solid blue;
}
.App > img {
  margin-top: 3%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  width: 100px;
  margin-bottom: 2%;
}
.userform {
  display: flex;
}
.form {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.userForm-container {
  width: 50%;
  margin: auto;
  max-width: 400px;
}
label {
  text-align: left;
}

.userForm-container-footer {
  display: flex;
  margin: auto;
  width: 100%;
}
span {
  font-weight: lighter;
  color: grey;
}
.card-container {
  display: flex;
  justify-content: space-between;
}

.card-input-element {
  display: none;
}

.card-input {
  margin: 10px;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5%;
  justify-content: space-between;
  margin: 5px;
}

.card-input:hover {
  cursor: pointer;
}
.card-input-element:checked + .card-input {
  box-shadow: 0 0 1px 1px #664de5;
}
.panel-heading {
  font-size: 15px;
}
.panel-body {
  font-size: 12px;
  font-weight: lighter;
}

.slct {
  appearance: none;
  outline: 0;
  background: green;
  background-image: none;
  width: 100%;
  height: 100%;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
}

.selectt {
  position: relative;
  display: block;
  width: 15em;
  height: 2em;
  line-height: 3;
  overflow: hidden;
  border-radius: 0.25em;
  padding-bottom: 10px;
}


table {
  border-collapse: collapse;
  width: 100%;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: left;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
table th {
  background-color: #f4fcff;
  color: #1f5688;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
  text-align: center;


}

table tr:nth-child(even) td {
  background-color: #f2f2f2;
}


table td {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  text-align: center;
}
